@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form class="form-horizontal" role="form">
        <br /><input type="datetime-local" class="form-control" placeholder="Tarih">
       
    </form>
</div>
